@import "_normalize";

$Dark: #24282E;
$Gray: #A0A3A7;
$Light: #F2F4F7;
$GradientPrimary: linear-gradient(125deg, #FC3F5F 0%, #7D61FF 100%);
$GradientGray: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);

@font-face {
	font-family: "Helvetica";
	font-weight: 300;
	src: url("../fonts/helvetica_light.otf") format("otf");
  }

@font-face {
	font-family: "Helvetica";
	font-weight: 400;
	src: url("../fonts/helvetica_regular.otf") format("otf");
  }

body {
	font-family: "Helvetica";
	font-size: 14px;
	font-weight: 400;
	color: $Light;
}

h1 {
	font-size: 72px;
	font-weight: 300;
	line-height: 1.2;
	color: $Light;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.16;
	letter-spacing: 0.2px;
	color: rgba($Light, 0.3);
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;

	padding: 60px;

	background: $GradientPrimary;
}

.window {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 32px;

	border-radius: 32px;

	background: $GradientGray;
}

// === Header ===

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: relative;

	margin-bottom: 220px;

	&__logo {
		display: block;
		width: 38px;
		height: 47px;

		background: url('../img/logo.svg') no-repeat center;
		background-size: contain;
	}

	&__button {
		color: $Dark;

		display: block;
		padding: 17px 24px;

		border-radius: 100px;

		background: linear-gradient(93.22deg, #E1E1E1 8.37%, #FFFFFF 99.95%);
	}
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: absolute;
	margin: 0 auto;
	width: 100%;

	color: $Gray;

	&__link {
		margin-right: 54px;

		a {
			display: block;
			padding: 5px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

// ==============

// === Content ===

.content {
	max-width: 600px;
	margin: 0 auto;

	text-align: center;

	&__title {
		margin-bottom: 32px;
	}

	&__text {
		margin-bottom: 80px;
	}

	&__btn {
		font-size: 18px;

		display: inline-block;

		padding: 16px 96px;
		margin-bottom: 64px;

		border: 2px solid $Light;
		border-radius: 100px;
	}
}


// ==============

// === Nav bar ===

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin-bottom: 204px;

	&__item {
		width: 16px;
		height: 16px;

		display: inline-block;

		margin: 16px;

		position: relative;

		a {
			display: inline-block;

			z-index: 100;

			width: 100%;
			height: 100%;

			cursor: pointer;
		}

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../img/nav-icon-gray.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;

			z-index: 0;
		}

		&.active::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../img/nav-icon-white.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

// ==============